<%- contentFor('title') %>
Nova publicação

<%- contentFor('body') %> 

<%- include('../shared/_headbar') %>

<main class="container content">
  <%- include('../shared/_flash') %> 

  <%- include('./_form') %> 
</main>
