<%- contentFor('title') %> Home <%- contentFor('body') %> <%-
include('../shared/_headbar') %>

<main class="container content">
  <%- include('../shared/_flash') %> 
  
    <% publications.forEach( publication => { %>

      <%- include('./_publication_card', { publication }) %>

    <% }) %>

</main>
