<%- contentFor('title') %> Usuários <%- contentFor('body') %>

<%- include('../shared/_headbar') %>

<main class="container content">
  <%- include('../shared/_flash') %>

  <span class="user_search_results_counter" ><%= users.count || '0' %> usuários encontrados: </span>

  <div class="flex_wrap_container">
    <% users.rows.forEach( user => { %>

      <%- include('./_user_card', { user }) %>

    <% }) %>
  </div>
</main>

<link rel="stylesheet" href="/css/users/styles.css">
